MONGODB_URL= mongodb+srv://karkibipl:Biplov0981@cmsdatabase.kznvlq9.mongodb.net/
PORT = 5000
JWT_SECRET=CMS_gpcollege
GOOGLE_CLIENT_ID=11256643343-13ptru7cj4eke5i9jsm253gi70td9f1e.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
CLIENT_URL=http://localhost:3000
HUGGINGFACE_TOKEN = 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
GOOGLE_APPLICATION_CREDENTIALS=c:\Users\zenit\Downloads\winter-rider-437615-e5-1f4432809731.json
CORS_ORIGIN=http://localhost:3000,http://192.168.0.105:3000
CALENDARIFIC_KEY=JpSBrier4JxJMGfm6Tc7g6Tud9Leh9Nv
COUNTRY=NP
YEAR=2025
